:root {
    --yo-v-font-family: 'Open Sans';
    --yo-v-placeholder: #ABACAD;
    --yo-v-title: #303437;
    --yo-v-border: #ABACAD;
    --yo-v-background: white;
    --yo-v-background-grey: #D6D7D8;
    --yo-v-text: #303437;
    --yo-v-text-hover: #303437;
    --yo-v-text-selected: #303437;
    --yo-v-error: #FF2151;
    --yo-v-primary-color: #66974F;
    --yo-v-base-unit: 16;
}

/* form elements */
input, select, textarea {
    width: 100%;
    font-family: var(--yo-v-font-family), Helvetica, Arial, sans-serif;
}

input::-webkit-input-placeholder, input::-moz-placeholder, input::-moz-placeholder, input::-ms-input-placeholder,
select::-webkit-input-placeholder, select::-moz-placeholder, select::-moz-placeholder, select::-ms-input-placeholder,
textarea::-webkit-input-placeholder, textarea::-moz-placeholder, textarea::-moz-placeholder, textarea::-ms-input-placeholder {
    color: var(--yo-v-placeholder);
    font-family: var(--yo-v-font-family), Helvetica, Arial, sans-serif;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="date"]::-webkit-input-placeholder {
    visibility: hidden !important;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
    resize: none;
}

textarea::-webkit-scrollbar {
    width: 0;
}

label {
    width: 100%;
}

.yo-v-field-wrapper {
    margin: calc(24rem / var(--yo-v-base-unit)) 0;
}

.yo-v-title {
    margin: calc(16rem / var(--yo-v-base-unit)) 0 calc(8rem / var(--yo-v-base-unit)) 0;
    text-align: left;
    color: var(--yo-v-title);
    font-size: calc(16rem / var(--yo-v-base-unit));
    font-weight: 600;
    line-height: calc(22rem / var(--yo-v-base-unit));
}

.yo-v-input {
    padding: 0 calc(12rem / var(--yo-v-base-unit));
    height: calc(40rem / var(--yo-v-base-unit));
    border: calc(1rem / var(--yo-v-base-unit)) solid var(--yo-v-border);
    border-radius: calc(5rem / var(--yo-v-base-unit));
    background-color: var(--yo-v-background);
    font-size: calc(16rem / var(--yo-v-base-unit));
    color: var(--yo-v-text);
}

.yo-v-textarea {
    padding: calc(12rem / var(--yo-v-base-unit));
    border: calc(1rem / var(--yo-v-base-unit)) solid var(--yo-v-border);
    border-radius: calc(5rem / var(--yo-v-base-unit));
    background-color: var(--yo-v-background);
    font-size: calc(16rem / var(--yo-v-base-unit));
    color: var(--yo-v-text);
}

.form-file-select {
    border: calc(1rem / var(--yo-v-base-unit)) solid var(--yo-v-border);
    border-radius: calc(5rem / var(--yo-v-base-unit));
    background-color: var(--yo-v-background);
}

.yo-v-label-file {
    display: inline-block;
    width: auto;
}

.yo-v-label-file:hover {
    cursor: pointer;
}

.yo-v-input-file {
    display: none;
}

/* checkbox and radio */
.yo-v-label-group.label-inline {
    display: flex;
    flex-wrap: wrap;
}

.yo-v-check-label, .yo-v-radio-label {
    margin: 0;
    padding: calc(5rem / var(--yo-v-base-unit)) calc(30rem / var(--yo-v-base-unit));
    display: block;
    position: relative;
    cursor: pointer;
    color: var(--yo-v-text);
    user-select: none;
}

.yo-v-check-label.label-inline, .yo-v-radio-label.label-inline {
    width: auto;
}

.yo-v-check-label:checked, .yo-v-radio-label:checked {
    color: var(--yo-v-primary-color);
}

.yo-v-check-label input, .yo-v-radio-label input {
    position: absolute;
    display: none;
    cursor: pointer;
}

.yo-v-check-label input:checked ~ .yo-v-check-mark, .yo-v-radio-label input:checked ~ .yo-v-check-mark {
    background-color: var(--yo-v-primary-color);
    border: none;
}

.yo-v-check-label input:checked ~ .yo-v-check-mark:after, .yo-v-radio-label input:checked ~ .yo-v-check-mark:after {
    display: block;
}

.yo-v-check-label .yo-v-check-mark, .yo-v-radio-label .yo-v-check-mark {
    width: calc(20rem / var(--yo-v-base-unit));
    height: calc(20rem / var(--yo-v-base-unit));
    position: absolute;
    top: 50%;
    left: 0;
    border: calc(2rem / var(--yo-v-base-unit)) solid var(--yo-v-primary-color);
    background-color: white;
    transform: translateY(-50%);
}

.yo-v-check-label .yo-v-check-mark {
    border-radius: calc(4rem / var(--yo-v-base-unit));
}

.yo-v-radio-label .yo-v-check-mark {
    border-radius: 50%;
}

.yo-v-check-label .yo-v-check-mark:after, .yo-v-radio-label .yo-v-check-mark:after {
    content: "";
    display: none;
    position: absolute;
    top: calc(2rem / var(--yo-v-base-unit));
    left: calc(6rem / var(--yo-v-base-unit));
    width: calc(8rem / var(--yo-v-base-unit));
    height: calc(12rem / var(--yo-v-base-unit));
    border: solid white;
    border-width: 0 calc(2rem / var(--yo-v-base-unit)) calc(2rem / var(--yo-v-base-unit)) 0;
    transform: rotate(45deg);
}

.yo-v-check-label .yo-v-check-mark-error, .yo-v-radio-label .yo-v-check-mark-error {
    border: 0.2rem solid var(--yo-v-error);
}

.yo-v-check-text {
    font-family: var(--yo-v-font-family), Helvetica, Arial, sans-serif;
}

.yo-v-button-submit {
    padding: 0 calc(40rem / var(--yo-v-base-unit));
    background: var(--yo-v-primary-color);
    color: white;
    font-weight: bold;
    height: calc(40rem / var(--yo-v-base-unit));
    line-height: calc(40rem / var(--yo-v-base-unit));
    border-radius: calc(5rem / var(--yo-v-base-unit))
}

.yo-v-button {
    padding: 0 calc(20rem / var(--yo-v-base-unit));
    background: var(--yo-v-primary-color);
    color: white;
    font-size: calc(16rem / var(--yo-v-base-unit));
    font-weight: bold;
    height: calc(40rem / var(--yo-v-base-unit));
    line-height: calc(40rem / var(--yo-v-base-unit));
    border-radius: calc(5rem / var(--yo-v-base-unit))
}

.yo-v-select {
    padding: calc(8rem / var(--yo-v-base-unit)) calc(24rem / var(--yo-v-base-unit)) calc(8rem / var(--yo-v-base-unit)) calc(8rem / var(--yo-v-base-unit));
    border: calc(1rem / var(--yo-v-base-unit)) solid var(--yo-v-border);
    border-radius: calc(5rem / var(--yo-v-base-unit));
    background-color: var(--yo-v-background);
    font-size: calc(16rem / var(--yo-v-base-unit));
    color: var(--yo-v-text);
}

.yo-v-select[multiple] {
    padding: 0;
}

.yo-v-select[multiple] .yo-v-option {
    padding: calc(4rem / var(--yo-v-base-unit)) calc(30rem / var(--yo-v-base-unit)) calc(4rem / var(--yo-v-base-unit)) calc(12rem / var(--yo-v-base-unit));
    border: none;
}

.yo-v-custom-select-wrapper {
    height: calc(40rem / var(--yo-v-base-unit));
    background-color: var(--yo-v-background);
    color: var(--yo-v-text);
    cursor: pointer;
}

.yo-v-cs-text-wrapper {
    padding: 0 calc(12rem / var(--yo-v-base-unit));
    border: calc(1rem / var(--yo-v-base-unit)) solid var(--yo-v-border);
    border-radius: calc(5rem / var(--yo-v-base-unit));
    font-size: calc(16rem / var(--yo-v-base-unit));
    line-height: calc(40rem / var(--yo-v-base-unit));
    font-family: var(--yo-v-font-family), Helvetica, Arial, sans-serif;
    user-select: none;
}

.yo-v-cs-option-list-wrapper {
    padding: calc(4rem / var(--yo-v-base-unit));
    position: relative;
    z-index: 1;
    border-radius: calc(5rem / var(--yo-v-base-unit));
    border: calc(1rem / var(--yo-v-base-unit)) solid var(--yo-v-border);
    background-color: white;
}

.yo-v-cs-option-list {
    max-height: calc(150rem / var(--yo-v-base-unit));
    overflow-y: auto;
}

.option-yo-v-cs {
    padding: calc(4rem / var(--yo-v-base-unit)) calc(8rem / var(--yo-v-base-unit));
    border-radius: calc(3rem / var(--yo-v-base-unit));
    user-select: none;
}

.option-yo-v-cs:hover {
    background-color: var(--yo-v-background-grey);
    color: var(--yo-v-text-hover);
    font-weight: bold;
}

.option-yo-v-cs:hover, .option-yo-v-cs.selected {
    background-color: var(--yo-v-background-grey);
    color: var(--yo-v-text-hover);
    font-weight: bold;
}

.yo-v-cs-selected-list {
    margin: calc(4rem / var(--yo-v-base-unit)) 0 0;
    display: flex;
    flex-wrap: wrap;
}

.tag-yo-v-cs-selected {
    margin: calc(8rem / var(--yo-v-base-unit)) calc(8rem / var(--yo-v-base-unit)) 0 0;
    padding: calc(4rem / var(--yo-v-base-unit)) calc(22rem / var(--yo-v-base-unit)) calc(4rem / var(--yo-v-base-unit)) calc(6rem / var(--yo-v-base-unit));
    color: white;
    background-color: var(--yo-v-primary-color);
    border-radius: calc(5rem / var(--yo-v-base-unit));
    position: relative;
    cursor: pointer;
}

.tag-yo-v-cs-selected:last-child {
    margin: calc(8rem / var(--yo-v-base-unit)) 0 0 0;
}

.icon-delete-yo-v-cs-selected {
    width: calc(14rem / var(--yo-v-base-unit));
    height: calc(14rem / var(--yo-v-base-unit));
    position: absolute;
    top: 50%;
    right: calc(4rem / var(--yo-v-base-unit));
    transform: translateY(-50%);
}

/* texts */
.yo-v-error {
    margin: calc(8rem / var(--yo-v-base-unit)) 0;
    color: var(--yo-v-error);
    font-weight: 600;
}

.yo-v-error-field {
    border: calc(1rem / var(--yo-v-base-unit)) solid var(--yo-v-error);
}
